.lead-content {
    
    display: flex;
    flex: 1;
    align-self: stretch;

    background-size: cover;
    text-align: center;
}

.lead-content-titles {
    margin: auto;
}

.lead-content-titles > * {
    margin: 2px;
}

.lead-content-title {
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.lead-content-subtitle {
    font-size: 14px;
    color: #236133;
}