#subButton{
	margin-left: 66%;
	padding:30px;
}

#evalButton{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
.box{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
    position: relative;
}


.vidNext{
	background-color:#999999;
	border:none;
	color:white;
	align:center;
	font-size: 16px;
	margin:20px;
	padding:15px 32px;
	width:150px;
}

.vidPrev{
	background-color:white;
	border:none;
	color:#999999;
	border:solid;
	align:center;
	font-size: 16px;
	margin:20px;
	padding:15px 32px;
	width:150px;
}

.vidNext:hover, .vidPrev:hover{
    cursor: pointer;
}

#nxtButton{
	margin-left: 48%;
}

#scrollBar{
	border:solid #f7f7f7;
	background-color:white;
	overflow:scroll;
	height: 100%;
    width:300px;
    min-width: 200px;
    text-align: left;
}

#scrollBar ::-webkit-scrollbar {
  width: 15px;
}

#scrollBar, li{
	background-color:white;
	line-height:40px;
	list-style-type: none;
	font-size:16px;
	padding-left: 1%;
	margin:auto;
}

.sb-wrapper{
    border-bottom: 1px solid lightgrey;
}

.box{
	display: flex;
	justify-content: space-between;
	padding:5%;
	width:80%;
}

#evalButton{
    font-size: 1.5em;
}

#evalButton a{
    margin-left: 10px;
    color: var(--soft-blue);
}