#subButton{
	margin-left: 66%;
	padding:30px;
}

#evalButton{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
.box{
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}
#theoryBox{
	type:text;
	margin-left: 10%;
	margin-right:auto;
	width:80%;
	height:200px;
	resize:none;
}

.vidNext{
	background-color:#999999;
	border:none;
	color:white;
	align:center;
	font-size: 16px;
	margin:20px;
	padding:15px 32px;
	width:150px;
}

.vidPrev{
	background-color:white;
	border:none;
	color:#999999;
	border:solid;
	align:center;
	font-size: 16px;
	margin:20px;
	padding:15px 32px;
	width:150px;
}

#nxtButton{
	margin-left: 48%;
}









#scrollBar{
	border:solid #f7f7f7;
	background-color:white;
	overflow:scroll;
	//height:310px;
	//width:300px;
	height:480px;
	width:500px;
	text-align: left;

}

#scrollBar ::-webkit-scrollbar {
  width: 15px;
}

#scrollBar, li{
	background-color:white;
	line-height:40px;
	list-style-type: none;
	font-size:16px;
	padding-left: 1%;
	margin:auto;
}

.box{
	display: flex;
	justify-content: space-between;
	padding:5%;
	width:80%;
}

