#subButton{
	margin-left: 66%;
	padding:30px;
}

#evalButton{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
.box{
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}
#theoryBox{
	type:text;
	margin-left: 10%;
	margin-right:auto;
	width:80%;
	height:200px;
	resize:none;
}
