.ReviewPage {

  margin-left: 13.28%;
  margin-right: 13.28%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  
  color: #333;
  
}
  
.ReviewPage > * {
   margin-top: 30px;
}
  
span {
  display: block;
}
  
#page-info-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#page-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-info-item {
  flex: 1 0 95%; /* explanation below */
  margin: 15px;
  max-width: 90%;
}

.page-info-item-title {
  
  margin-bottom: 8px;
  text-align: left;
  font-size: 28px;
  
}

.page-info-item-content {
  text-align: left;

  line-height: 28px;
  font-size: 19px;
}

tr, td {
  border: none;

  padding: 4px;
}

#page-info-table > * {
  font-family: Roboto;
  font-size: 19px;
  font-weight: normal;
  text-align: left;

}

.table-header, .item-icon {
  text-align: center;
}

.table-header {
  border-left: 0.25px solid #000;
  border-right: 0.25px solid #000;
  border-bottom: 0.25px solid #000;

  font-size: 24px;
  color: #236133;
}

.item-icon, .item-content {
  border-bottom: 0.25px solid #000;
}

.item-icon:hover {
  background-color: rgba(174,210,163,0.6);
}

.no-hover:hover {
  background-color: white;
}

.item-t {
  border-top: 0.25px solid #000;
}

.item-l {
  border-left: 0.25px solid #000;
}

.item-r {
  border-right: 0.25px solid #000;
} 

a {
  color: #000;
}