:root {
    --radio-size: 30px;
    --subtitle-text: #206231;
    --subtitle-note: #f5a623;
    --answer-text: #666666;
}


.evaluation-content {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    .title {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 40px;
        font-style: none;
    }
    .subtitle {
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        font-size:20px;
        color:var(--subtitle-text);
    }
    .subtitle#note {
        color:var(--subtitle-note);
    }
}
.terms-input-container {
    margin-top: 50px;
}
.question {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: left;
    .question-query {
        font-size: 20px;
        color: black;
    }
    .answers {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 15px;
        .answer {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            cursor: pointer;

            margin-top: 5px;
            margin-bottom: 5px;
            color:var(--answer-text);
            display: inline-flex;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
            label {
                padding-left: 15px;
            }
        }
    }
}

.answer input:checked ~ .radio-button {
    color: white;
    background-color: green;
}

.radio-button {
    
    min-width: var(--radio-size);
    min-height: 25px;
    max-height: 25px;
    max-width: var(--radio-size);
    border-radius: 50%;
    margin-right: 20px;
    padding-top: 5px;
    overflow: hidden;

    color: black;
    background-color: white;
    border: var(--answer-text) 1px solid;
    
    vertical-align: middle;
    text-align: center;
}

.bottom-buttons {
    margin-top: 30px;
    display: inline-flex;
    .button {
        margin-left: 10px;
        margin-right: 10px;
    }
}