.btn {
    
    height: 80px;
    border: none;
    border-radius: 2px;

    font-size: 24px;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
}

.btn-primary {
    background-color: #61A63A;
    color: white;
}

.btn-secondary {
    color: #61A63A;

    border: 3px solid #61A63A;
    box-sizing: border-box;
    border-radius: 2px;
}
.hoverable-btn:hover:hover, .btn-primary:hover, .btn-secondary:hover {
    box-shadow: 3px 7px 7px #dbdbdb;
    -webkit-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
}

/* Remove WebKit focus glow */
.btn:focus {
    outline:none;
}