.btn {
    
    height: 80px;
    min-width: 320px;

    border: none;
    border-radius: 2px;

    font-size: 24px;
    text-align: center;
}

.btn-primary {
    background-color: #61A63A;
    color: white;
}

.btn-secondary {
    color: #61A63A;

    border: 3px solid #61A63A;
    box-sizing: border-box;
    border-radius: 2px;
}
.btn, .btn-primary, .btn-secondary {
    transition: linear .2s box-shadow;
}

.btn:hover, .btn-primary:hover, .btn-secondary:hover {
    box-shadow: 3px 10px 50px #888888;
    cursor: pointer;
}

/* Remove WebKit focus glow */
.btn:focus {
    outline:none;
}