.result-col{
    height: auto !important;
}

.result-desc{
    display: block;
}

.result-info-wrapper{
    max-height: 100px;
    overflow-y: scroll;
}

.attr-info{
    display: none;
}

.hide-col{
    display: none;
}

a, a:hover{
    text-decoration: none;
}