.result-desc{
    height: 37px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.result-action:hover{
    cursor: pointer;
}

.result-action.vetted:hover{
    cursor: not-allowed;
}