.subpages-header-col{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: calc(100% / 3);
    background-color: var(--lighter-forest-green);
    
    color: var(--dark-green);
    transition: .2s ease color;
    transition: .2s ease background-color;
}


.subpages-header-col:hover{
    color: white;
    cursor: pointer;
    background-color: var(--forest-green);
}

.subpages-header-col.activated{
    text-decoration: underline;
    background-color: var(--forest-green);
}