:root {
    --main-norm: #f2f2f2;
    --main-hover: #e5e5e5;
    --vote-norm: #13b5ea;
    --vote-hover: #109fce;
    --vote-active: #097da3;
}

table{
    width: 100%;
    font-size: 1.1em;
}

th{
    text-align: left;
}

thead tr th{
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    border-collapse: separate; 
    border-spacing: 0px 0px;
}

.thead-bottom{
    border: 1px solid blue !important;
    width: 100%;
}

.CVCollapsible {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    min-width: 400px;

   
    .FAQ-entry{
        margin-bottom: 5px;
    }

    font-family: Arial, Helvetica, sans-serif;

    .CVCollapsible-title {
        width: 100%;
        height: auto;
        min-height: 20px;
        
        //make it so people can't highlight the text inside the title div
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        //setup properties
        position: relative;
        padding: 10px;
        outline:none;
        border: none;
        background-color: var(--main-norm);
        cursor: pointer;
        display: inline-table;
        font-size: 20px;
    }
    .CVCollapsible-title#title {
        width: 80%;
        text-align: left;
        float: left;
    }
    .CVCollapsible-title#arrow {
        width: auto;
        float: right;
    }
    .CVCollapsible-collapse {
        overflow: hidden;
        padding-right: 20px;
        padding-left: 50px;
    }
    .CVCollapsible-body {
        border: none !important;
        overflow: hidden;
        text-align: left;
        padding-top: 5px;
        font-size: 1.2em;
    }
}

.CVCollapsible-title:hover, .CVCollapsible-title:active{
    background-color: var(--main-hover);
}
.CVCollapsible-title:hover > .CVCollapsible-title#title {
    background-color: var(--main-hover);
}
.CVCollapsible-title:hover > .CVCollapsible-title#arrow {
    background-color: var(--main-hover);
}