:root {
    --btn-norm: blue;
    --btn-hover: lightblue;
    --btn-active: darkblue;
    --min-height: 30px;
}

.CVTextInput-container {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
    height: 100px;
    overflow: hidden;
}
.CVTextInput-title {
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.CVTextInput-text {
    min-height: var(--min-height);
    margin:auto;
    float: left;
    height: 100%;
    width: 90%;
    textarea {
        line-height: var(--min-height);
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
        resize: none;
    }
}
.CVTextInput-button button {
    min-height: var(--min-height);
    float: right;
    margin: auto;
    border:none;
    outline:none;
    width: 10%;
    background-color: var(--btn-norm);
}
.CVTextInput-container button:hover {
    background-color: var(--btn-hover);
}
.CVTextInput-container button:active {
    background-color: var(--btn-active);
}