#scrollBar{
	background-color:white;
	border:green;
	border-style: solid;
	overflow:scroll;
	height:310px;
	width:300px;
}

#scrollBar, li{
	background-color:white;
	line-height:40px;
	color:#666;
	list-style-type: decimal;
	border-style: solid;
}

.box{
	display: flex;
	justify-content: space-between;
	padding:10%;
	width:max-content;
}

#scrollBar,li:nth-child(2n){
	background-color:#f7f7f7;
	color:blue;
}
