#scrollBar{
	border:solid #f7f7f7;
	background-color:white;
	overflow:scroll;
	//height:310px;
	//width:300px;
	height:480px;
	width:500px;

}

#scrollBar ::-webkit-scrollbar {
  width: 15px;
}

#scrollBar, li{
	cursor:pointer;
	background-color:white;
	line-height:40px;
	list-style-type: decimal;
	font-size:16px;
	padding-top: 15px;
}
#scrollBar, li.active {
	background-color:var(--forest-green);
}

.scrollBox{
	display: flex;
	justify-content: space-between;
	padding:5%;
	width:80%;
	//border:solid;
}
