#scrollBar{
	border:solid #f7f7f7;
	background-color:white;
	overflow:scroll;
	height:480px;
	width:500px;
    padding: 0px !important;
}

#scrollBar ::-webkit-scrollbar {
  width: 15px;
}

.sb-wrapper{
    display: block;
    width: 100%;
}

#scrollBar, li{
	cursor:pointer;
	background-color:white;
	line-height:40px;
	list-style-type: decimal;
	font-size:16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    
    
    color: var(--dark-green);
}
#scrollBar, li.active {
    background-color:var(--forest-green);
    color: white;
}
#scrollBar, li.active {
	background-color:var(--forest-green);
}

.scrollBox{
	display: flex;
	justify-content: space-between;
	padding:5%;
	width:80%;
}
